body{
    background-image: url(../img/descarga.jpg);
    background-size: 100%;
    }	
    .contenedor{
    border-color: black;
    border:100%;
    margin-top: 30px;
    margin: 50px auto;
    border-radius: 10px;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    height: 560px;
    }
    .contenedor:hover{
    transition: .8s;
   
    box-shadow:inset;
    }
    .boton{
    float: right;
    }
    h1{
        color: black;
      font-size: 3.5em;
      font-family: Algerian;
    }
    p{
        color: black;
    }
    